<div class="content-section">
    <h1 class="items-table">GETFIT app</h1>
    <% if (locals.currentUser){ %>
        <div class="files-table">
            <h3 class="items-table">¡Bienvenido/a!</h3>
            <p>¡Hola <strong><%= locals.currentUser.name %></strong>!</p>
            <p>¡Que bueno que estés de vuelta en GetFit!</p>
        </div>
        <% } %>
            <div class="files-table">
                <h3 class="items-table">Acerca de nosotros</h3>
                <p>
                    Aplicación que tiene como objetivo facilitar la realización de deporte mediante un portal de acceso rápido a diferentes actividades del mundo del fitness.
                </p>
            </div>
            <% if (!locals.currentUser){ %>
                <div class="files-table">
                    <h3 class="items-table">Únete a nosotros</h3>
                    <p>
                        Inscríbete con nosotros <a href="<%= locals.signUp %>">Aquí</a>
                    </p>
                </div>
                <% } %>

    <% if (locals.currentUser) { %>
        <div class="files-table">
            <div id="react-bmr-api">
            
            </div>
        </div>
    <% } %>
</div>