<p>GetFit index app</p>
<br>
<a href="<%= users %>">Users handler</a>
<br>
<a href="<%= locals %>">Locals handler</a>
<br>
<a href="<%= requests %>">Requests handler</a>
<br>
<a href="<%= activities %>">Actividades</a>