<h1>En hora buena!</h1>
<p>Se ha realizado la venta de tu producto:</p>
<ul>
    <li>Nombre: <%= data.product.name %> </li>
    <li>Precio: <%= data.product.precio %></li>
    <li>Tipo: <%= data.product.tipo %></li>
</ul>

<p>Atentamente,</p>
<p>Equipo GetFit</p>