<div class="content-area">
    <div class="items-table">
        <div class="content-area">
            <div class="display-table-button">
                <a href='<%= createOwnerLocal %>' class="btn-create-prived-local">Crear nuevo local con dueño</a>
            </div>
            <div class="display-table-button">
                <a href='<%= createPublicLocal %>' class="btn-create-public-local">Crear nuevo local público</a>
            </div>
        </div>
    </div>
</div>
