<form method="post" action="<%= createActivityPath %>">
    <div class="field">
        <label for="name">Nombre: </label>
        <input type="text" name="name"/>
    </div>
    <div class="field">
        <label for="name">Dificultad: </label>
        <input type="text" name="dificulty"/>
    </div>
    <div class="actions">
        <input type="submit" value="Crear">
    </div>
</form>