<div class="form-main">
    <div class="form-div">
        <form method='post' action="<%= createActivitiesPath %>">
            <% if (locals.errors){ %>
                <div class='errors'>
                    <p>La actividad no se pudo crear debido a los siguientes errores:</p>
                    <ul>
                        <% errors.forEach(error =>  { %>
                            <li>
                                <%= error.path%>:
                                    <%= error.message %>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <% } %>
                    <div class='field'>
                        <div class='field'>
                            <label for='name'>Nombre</label>
                            <input type='text' id='name' class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" name='name' />
                        </div>
                        <div class='field'>
                            <label for="dificulty">Dificultad: </label>
                            <select name="dificulty" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="field">
                            <label for='capacity'>Capacidad:</label>
                            <input type='number' id='capacity' class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" name='capacity' placeholder="Ejemplo: 15"/>
                        </div>
                        <div class='field'>
                            <label for='horarioI'>Horario inicio:</label>
                            <input type='time' id='horarioI' class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" name='horarioI' placeholder="Ejemplo: 08:00"/>
                        </div>
                        <div class='field'>
                            <label for='horarioT'>Horario termino:</label>
                            <input type='time' id='horarioT' class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" name='horarioT' placeholder="Ejemplo: 12:00"/>
                        </div>
                    </div>
                    <div class='actions'>
                        <input type='submit' value='Crear' class="btn-link-accept"/>
                    </div>
        </form>
    </div>
</div>
<div class="content-area">
    <div class="display-table-button">
        <a href='<%= viewLocalOwner %>' class="btn-custom-back-local">Volver al local</a>
    </div>
</div>