
<form method='post' action="<%= createRequestPath %>">
    <% if (locals.errors){ %>
        <div class='errors'>
            <p>El local no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error =>  { %>
                    <li>
                        <%= error.path%>:
                            <%= error.message %>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <% } %>
            <div class='field'>
                <label for='tipo'>Tipo</label>
                <select name="tipo">
                    <option value="Atencion">Atencion</option>
                    <option value="Disponibilidad">Disponibilidad</option>
                    <option value="Higiene">Higiene</option>
                    <option value="Personal">Personal</option>
                    <option value="Infraestructura">Infraestructura</option>
                    <option value="Seguridad">Seguridad</option>
                    <option value="Ventilacion">Ventilacion</option>
                    <option value="Otros">Otros</option>
                </select>
            <div class='field'>
                <label for='comentario'>Comentario</label>
                <textarea name="comentario" id='comentario' cols="30" rows="4" placeholder="Ejemplo: Excelente servicio!"></textarea>
            </div>
            <div class='actions'>
                <input type='submit' value='Crear' />
            </div>
    </form>
</main>