.new-local h1 {
    text-align: center;
    color: #131966;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    color: #131966;
}

input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 10px;
}

input [type=submit] {
    width: 50%;
}

.actions input {
    justify-content: center;
    margin-left: 7%;
    width: 50%;
}