<main>
    <ul>
        <% users.forEach((user) => { %>
            <li>
                <a href='<%= unsubscribePath(user.id) %>'>
                    <%= user.email %>
                </a>
            </li>
            <% }) %>
    </ul>
</main>